:host {
  margin: 0 auto;
  text-align: center
}
ul {
  padding: 0;
  font-size: 22px
}
ul li {
  list-style-type: circle;
  padding-left: 15px;
  font-size: 16px
}
input {
  display: block;
  margin: 10px auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 5px 10px
}